/* @import url('https://fonts.cdnfonts.com/css/lufga');
@import url('https://fonts.cdnfonts.com/css/euclid-circular-a'); */

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
    box-sizing: border-box;
}

body {
    overflow-x: hidden !important;
}

@layer base {

    body {
        @apply m-0 p-0 box-border overflow-x-hidden
    }

    .form-control {
        @apply py-2.5 px-4 focus:outline-none focus:ring-0 block outline-none border tracking-tight border-gray-300 w-full rounded-xl text-xs font-normal text-opacity-80 text-textColor focus:bg-white focus:shadow-md focus:border-[#18678480] focus:border-2 placeholder:text-xs placeholder:font-light
    }

    label {
        @apply inline-block tracking-tight
    }

    .form-label {
        @apply mb-[.5rem] text-xs font-medium text-dark
    }

    .btn {
        @apply disabled:opacity-75 disabled:pointer-events-auto inline-block py-3 px-6 bg-transparent cursor-pointer rounded transition ease-in-out text-sm hover:ring-0;
    }

    .btn-primary {
        @apply bg-primary text-white hover:ring-offset-2 hover:ring-2
    }

    .btn-outline {
        @apply border text-dark border-[#D0D5DD] hover:ring-offset-2 hover:ring-2
    }

    .btn-secondary {
        @apply bg-secondary text-white hover:ring-offset-2 hover:ring-2
    }

    .btn-success {
        @apply bg-success text-white hover:ring-offset-2 hover:ring-2
    }

    .PhoneInput input {
        flex: 1;
        min-width: 0;
        border: none;
        outline: none;
        font-size: 13px !important;
        background: none !important;
    }

    .PhoneInput .PhoneInputCountrySelectArrow {
        @apply mr-2 ml-3
    }

    .PhoneInput .PhoneInputCountryIconImg {
        display: block;
        width: 25px !important;
        height: 20px !important;
        border-radius: 50% !important;
        object-fit: cover !important;
        margin-top: -4px;
    }

    .PhoneInput input[type='tel']:focus {
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
    }


    .PhoneInput .PhoneInputCountryIcon {
        background-color: transparent !important;
        box-shadow: none !important;
    }

    .form-control.is-invalid,
    .was-validated .form-control:invalid {
        @apply border-red-600
    }

    .shadow-soft-xl {
        --tw-shadow: 0 20px 27px 0 rgba(0, 0, 0, .05);
        --tw-shadow-colored: 0 20px 27px 0 var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }

}